{% extends "base.twig" %}
{% block content %}
    <div class="home">
        <div class="form-group">
            <label for="search">Sök</label>
            <input type="text" name="search" class="form-control">
        </div>
    </div>
{% endblock %}